// Named Colors
$green            : #29858e;
$light-green      : #3fa8b2;

$light-pale-green : #77e3c9;
$pale-green       : #72ceb8;
$dark-pale-green  : #3aad91;

$blue             : #2989c6;
$grey             : #414141;
$orange           : #fb6733;

$red              : #d33847;

$off-white        : #f3f3f3;
$light-grey       : #999;
$grey             : #4c5e65;

// Single use-cases
$text-hover-color      : #27a7b3;
