.page-header {
  @include row;
  background: #fff;
  box-shadow: 0 0 14px 2px rgba($light-grey, 0.3);
  height: 80px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.page-header__logo {
  left: 20px;
  position: absolute;
  top: 20px;

  a {
    color: $light-green;
    font-size: 32px;
  }
}
